#!/usr/bin/env bash

RELEASE_VERSION=0.14.0

DAPP_GUI_DIR=~/Projects/github.com/Privatix/dapp-gui
DAPP_CTRL_DIR=~/go/src/github.com/privatix/dappctrl

REPOSITORIES=(
            ~/Projects/github.com/Privatix/dapp-gui
            ~/Projects/github.com/Privatix/dapp-smart-contract
            ~/Projects/github.com/Privatix/dapp-somc
#            ~/Projects/github.com/Privatix/privatix

            ~/go/src/github.com/privatix/dappctrl
            ~/go/src/github.com/privatix/dapp-installer
            ~/go/src/github.com/privatix/dapp-openvpn
)
